<IfModule mod_rewrite.c>
    RewriteEngine On
    # Route everything except /content/* and favicon.ico to index.php
    RewriteCond %{REQUEST_URI} !^/content/.*$
    RewriteCond %{REQUEST_URI} !^/favicon\.ico$
    RewriteCond %{REQUEST_URI} !/*.css$
    RewriteCond %{REQUEST_URI} !/*.js$

    RewriteRule ^ index.php
</IfModule>
